* {
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 25px;

}

.cheats {
  display: grid;
  border-radius: 1px red solid;
  grid-template-columns: 1fr 1fr;
}
.section {
  border: 1px grey solid;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 5px;
  padding: 5px;
}

h1 {
  margin: 25px;
}

p {
  text-align: justify;
  width: 100%;
}
.title {
  background: rgba(128, 128, 128, 0.2);
  background: linear-gradient(
    0deg,
    rgba(128, 128, 128, 0) 0%,
    rgba(128, 128, 128, 0.2) 100%
  );
}
.title a,
.title {
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 5px;

  border-radius: 9px;

  user-select: none;
  text-decoration: none;
}

.title i {
  font-size: 25px;
  margin-right: 5px;
  padding: 5px;
}
.contents {
  display: grid;
  text-align: center;
  padding: 5px;
  font-family: "Noto Sans Mono", monospace;
}

.contents div p {
  width: 100%;
  text-align: justify;
  margin-left: 15px;
  padding: 5px 0;
}
.col-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.col-2 {
  grid-template-columns: 1fr 1fr;
}

div.coder {
  margin: 0;
  display: block;
  font-family: Consolas, Monaco, monospace;
  font-size: 12pt;
  overflow-x: auto;
  padding: 30px 30px 20px;
  scrollbar-width: thin;
  -moz-tab-size: 4;
  tab-size: 4;
  position: relative;
  border-radius: 0.25em;
  border: none !important;
}

div.coder h2 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12pt;
  font-weight: 900;
  background-color: black;
  padding: 0.25em  0.5em 0.25em ;
  border-radius: 0 0 0 0.25em;
  border: none !important;
  text-shadow: 1px 1px 1pt #666666 ;
  
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in Internet Explorer 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}



@media screen and (max-width: 950px) {
  .cheats {
    grid-template-columns: 1fr;
  }
}
